* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --black-color: #070707;
  --white-color: #ffff;
  --light-black: #4c4c4c;
  --green-yellow-col: #bdf15c;
  --lit-dark-white: #e9e8e8;
  --dark-white: #959494dd;

  --sm-text: 5px;
}

html,
body {
  width: 100%;
  height: 100vh;
  font-size: 13px;
  background-color: var(--white-color);
  color: var(--black-color);
  font-family: sans-serif;
}


.header-sec {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  /* background-color: red; */
  backdrop-filter: blur(20px);
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  gap: 0.3rem;
}

nav {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.links a {
  font-size: 1rem;
}

.nav-btn button {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border-radius: var(--sm-text);
  letter-spacing: 0.5px;
}

.bar-icon {
  display: block;
  font-size: 1.5rem;
}

main {
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
}

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 4rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.box {
  width: 100%;
  /* background-color: red; */
  margin-top: 5rem;
}

.img-sec {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* background-color: rebeccapurple; */
}

.img-sec img {
  width: clamp(5rem, 100%, 30rem);
  object-fit: cover;
}

.text-sec {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 3rem;
}

.text-sec h1 {
  font-size: 5vw;
  line-height: 1;
}

.text-sec p {
  width: 100%;
  font-size: 1rem;
}

.btn-sec {
  margin-top: 1rem;
}

.btn {
  padding: 18px 32px;
  border: none;
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 10px;
  font-size: 15px;
}


/* Section 02 */

.sec-01 {
  padding: 1rem 4rem;
  margin-top: 3rem;
}

h2 {
  white-space: nowrap;
  font-size: 1.8rem;
  background-color: var(--green-yellow-col);
  padding: 3px 5px;
  border-radius: 5px;
}

.ser-text-sec {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.ser-text-sec p {
  font-size: 0.8rem;
  color: var(--light-black);
  font-weight: 500;
}


/* Service 4 Box Style */
.servics-container {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;


}

.serv-box {
  width: 49%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 1.5rem;
  border-radius: 30px;
}

.servics-container .serv-box:nth-child(1),
.servics-container .serv-box:nth-child(4) {
  background-color: #f0f0f0;
  border: 1px solid black;
  border-bottom: 5px solid rgb(0, 0, 0);
}

.servics-container .serv-box:nth-child(2),
.servics-container .serv-box:nth-child(3) {
  background-color: var(--black-color);
  color: var(--white-color);
  border: 1px solid black;
  border-bottom: 5px solid rgb(0, 0, 0);
}


.servics-container .serv-box:nth-child(1) .arrow,
.servics-container .serv-box:nth-child(4) .arrow {
  background-color: var(--black-color);
  color: var(--white-color);
}

.servics-container .serv-box:nth-child(2) .arrow,
.servics-container .serv-box:nth-child(3) .arrow {
  background-color: var(--white-color);
  color: var(--black-color);
}


.servics-container .serv-box:nth-child(2) .box-text h3 span,
.servics-container .serv-box:nth-child(3) .box-text h3 span {
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 5px 10px;

}


.servics-container .serv-box:nth-child(1) .box-text h3 span,
.servics-container .serv-box:nth-child(4) .box-text h3 span {
  background-color: var(--green-yellow-col);
  background-color: var;
}

.box-text span {
  padding: 5px 10px;
  border-radius: 5px;
}

.box-text h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1px;
}

.serv-box .box-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.serv-box img {
  width: fit-content;
  object-fit: cover;
  /* background-color: red; */
}

.serv-box .box-text h3 {
  width: 70%;
  font-size: 1.5rem;
  margin-bottom: 6rem;
}

.learn-more-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.arrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}


.full-box-cont {
  width: 100%;
  background-color: var(--lit-dark-white);
  padding: 1rem 3rem;
  border-radius: 30px;
  margin-top: 5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-text-sec {
  width: 50%;
}

.full-box-cont img {
  max-width: 350px;
  transform: translateY(15%);
}

.full-box-cont h3 {
  font-size: 1.8rem;
}

.full-box-cont p {
  color: var(--light-black);
}

/* Section 03 */
.sec-03 {
  margin-top: 5rem;
  padding: 1rem 4rem;
}

.text-div {
  padding: 1rem 2rem;
}

.text-div p {
  font-weight: 100;
  font-size: 0.85rem;
  margin-bottom: 1.52rem;
  color: #cdcccc;
}

.text-div button {
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  color: var(--green-yellow-col);
}

.sec-03-box {
  padding: 2rem 1rem;
  background-color: #070707;
}

.sec-03-box :nth-of-type(2) {
  border-left: 2px solid var(--dark-white);
  border-right: 2px solid var(--dark-white);
}

button {
  transition: all 0.5s linear;
}

button:hover {
  opacity: 0.8;
  scale: 1.1;
}

.sec-03 .full-box-cont {
  flex-wrap: nowrap;
}

.sec-03 .full-box-cont .text-div {
  min-width: 220px
}

@media (min-width:500px) {
  html {
    font-size: 17px;
  }

  .bar-icon {
    display: block;
  }

  nav {
    display: none;
  }
}

@media (min-width:1200px) {
  html {
    font-size: 20px;
  }

  .bar-icon {
    display: none;
  }

  nav {
    display: flex;
  }

}