* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #ffffff;
}

main{
    width: 100%;
    height: 100%;
}

.Page{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.page1{
    background-color: #ffff;
}

.page2{
    background-color: #e8ec5b;
}

.page3{
    background-color: #b643f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 3rem;
    font-family: sans-serif;
    font-size: 3rem;
}

.box{
    width: 300px;
    height: 300px;
    background-color: red;
}

#hello{
    background-color: yellow;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    color: black;
}

#sus{
    background-color: red;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
}