* {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  color: #ffffff;


}

#string{
    width: 100%;
    height: 350px;
    /* background-color: red; */
    font-size: 1.4rem;
}
